body {
    background-image: url("../assets/images/bg-monopoly.svg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: "Rubik";
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.div-board {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
}

.div-road {
    position: absolute;
    display: flex;
}

.div-board-left {
    top: 0%;
    left: 0%;
    width: 13.2%;
    height: 100%;
    flex-wrap: wrap;
}

.div-board-right {
    top: 0%;
    left: 86%;
    width: 13.2%;
    height: 100%;
    flex-wrap: wrap;
}

.div-board-upper {
    top: 0%;
    left: 13.2%;
    width: 72.8%;
    height: 23.6%;
    justify-content: space-around;
}

.div-board-lower {
    top: 76.4%;
    left: 13.2%;
    width: 72.8%;
    height: 23.6%;
    justify-content: space-around;
}

.div-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-panel-up {
    margin: 1% 0.8%;
    width: 15%;
    padding: 0%;
}

.div-panel-side {
    width: 85%;
    margin: 7% 7.5%;
}

.img-go,
.img-question,
.img-treasure,
.img-funfact,
.img-shop,
.img-portal,
.img-empty {
    width: 10vw;
    height: 10vw;
}

.img-player {
    position: absolute;
    height: 16%;
    top: 80%;
    left: 91%;
}

.btn-roll {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-btn-roll {
    height: 20vh;
    cursor: pointer;
}

.div-help {
    border: none;
    z-index: 1;
    position: absolute;
    top: 26%;
    left: 80%;
}

.div-help:hover {
    cursor: pointer;
}

.img-help {
    height: 10vh;
}

.div-inner {
    position: absolute;

    top: 23.7%;
    left: 13.3%;
    height: 53%;
    width: 73.4%;

    background-repeat: no-repeat;
    font-size: 2vh;
    font-weight: bold;
}

.p-steps-left {
    position: absolute;
    top: -10%;
    left: 48%;
    font-size: 8vh;
    z-index: 1;
    text-align: center;
    direction: rtl;
    font-weight: 500;
    color: white;
}

.p-items-left {
    position: absolute;
    bottom: -4%;
    left: 62.5%;
    width: 37%;
    font-size: min(6vmin, 3vmax);
    z-index: 1;
    text-align: center;
    direction: rtl;
    font-weight: 500;
    color: white;
}

.img-hand-sanitizer {
    height: 25vh;
    position: absolute;
    top: 33%;
    left: 82%;
}

.img-coins {
    height: 18vh;
    min-width: 7vw;
    position: absolute;
    top: 45%;
    left: 7%;
}

.p-coins {
    direction: rtl;
    position: absolute;
    top: 36vh;
    left: 8%;
    font-weight: 500;
    color: white;
    font-size: 6vh;
}

.div-contain {
    font-weight: 500;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0vh;
    left: 0vw;
    display: none;
    z-index: 2;
}

.div-question {
    margin-top: 8vh;
    padding-top: 2vh;
    border-radius: 8vh;
    background-color: white;
    color: #5289C7;
    height: 82%;
    width: 70vw;
    position: relative;
    left: 50%;
    top: 42%;
    z-index: 2;
    overflow: hidden;
    transition: all 2s ease 0s;
    transform: translate(-50%, -50%);
}

.p-question {
    font-weight: 500;
    font-size: 5vh;
    direction: rtl;
    z-index: 2;
    margin-right: 9.2%;
}

.div-answers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 60vh;
    position: relative;
    left: 0vw;
    transition: all 1s ease 0s;
}

.div-answer {
    width: 25vw;
    padding: 2vh;
    min-width: 20vw;
    height: 19vh;
    min-height: 10vh;
    margin: 2vh 1vw;
    background-color: #F1F2F2;
    border-radius: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    font-weight: 500;
    text-align: center;
    box-shadow: 5px 10px rgba(128, 130, 133, 0.5);
    border: solid;
    border-color: #F1F2F2;
    border-width: 0.5vw;

}

.div-answer:hover {
    cursor: pointer;
}

.div-question-explanation {
    position: absolute;
    top: 19.5vh;
    right: 70vw;
    width: 13vw;
    text-align: right;
    height: 52vh;
    padding: 2vh;
    font-size: 3vh;
}

.img-exit-question {
    height: 5vh;
    position: absolute;
    top: 5%;
    left: 2.5%;
    display: none;
}

.img-exit-question:hover {
    cursor: pointer;
}

.div-shop {
    position: relative;
    background-color: white;
    color: #5289C7;
    padding-top: 6%;
    height: 51%;
    width: 45%;
    left: 50%;
    top: 50%;
    margin-top: 20vh;
    border-radius: 11vh;
    z-index: 2;
    transform: translate(-50%, -80%);
}

.p-shop {
    color: #FBB040;
    font-size: 7vh;
    text-align: center;
    direction: rtl;
    margin: 2vw;
    line-height: 1.5;
}

.div-buy-answers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: 20%;
    position: relative;
    left: 5%;
}

.img-btnYes,
.img-btnNo {
    height: 10vh;
    margin: 0vh 2vw;
}

.img-btnYes:hover,
.img-btnNo:hover {
    cursor: pointer;
}

.div-fact {
    border-radius: 11vh;
    text-align: center;
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    background-color: white;
    color: #5289C7;
    height: 60vh;
    width: 50vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
}

.p-did-u-know {
    direction: rtl;
    color: #FBB040;
    font-size: 7vh;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
}

.img-got-it {
    width: 3vw;
    position: absolute;
    top: 10%;
    left: 7%;
    cursor: pointer;
}

.img-got-it:hover {
    transform: scale(1.1);
}

.div-rules {
    direction: rtl;
    background-color: white;
    border-radius: 11vh;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 81%;
    width: 67%;
    z-index: 2;
    color: #5289C7;
    font-weight: 500;
    line-height: 1.45;
    transform: translate(-50%, -50%);
}

.div-rules-inner {
    font-size: min(5vmin, 2.5vmax);
    margin-bottom: 0%;
    padding: 6%;
    padding-left: 14%;
    margin-top: 3%;
}

.p-got-money {
    direction: rtl;
    background-color: white;
    border-radius: 8vh;
    position: absolute;
    top: 18%;
    left: 30%;
    z-index: 2;
    color: #5289C7;
    font-weight: 500;
    line-height: 1.45;
    font-size: 4.5vh;
    margin-bottom: 2%;
    padding: 8%;
    display: none;
}

.p-congrats {
    color: #FBB040;
    font-size: 6vh;
    text-align: center;
}

.div-cover-grey {
    width: 100vw;
    height: 100vh;
    background-color: rgb(160, 160, 160, 0.9);
    position: absolute;
    top: 0vh;
    left: 0vw;
    z-index: 1;
}

#pBroke {
    top: 50%;
    padding: 2% 7%;
    border-radius: 11vh;
    background-color: white;
    color: #F37371;
    font-weight: 550;
    height: 58vh;
    width: 23%;
    position: relative;
    left: 30vw;
    display: none;
    position: absolute;
    right: 50%;
    z-index: 3;
    font-size: 9vh;
    transform: translate(-4%, -56%);
}

.end-game {
    position: absolute;
    display: none;
    font-size: 8vh;
    width: 61vh;
    height: 56vh;
    background-color: white;
    top: 50%;
    left: 50%;
    z-index: 1;
    border-radius: 17%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #efc091;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.button-end {
    width: 46%;
    height: 19%;
    background-repeat: no-repeat;
    bottom: 25%;
    cursor: pointer;
}

.end-title {
    color: #e8b04a;
    font-weight: 550;
    text-align: center;
}

.darked {
    position: relative;
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #80828580;
    z-index: 1;
}

.new-p-broke {
    margin-top: 28%;
}

#theFact {
    margin: 0% 6%;
}