.body {
  background-image: url("../assets/images/bgsnakefaded.svg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  margin: 0 auto;
  font-family: "Rubik";
  direction: rtl;
  user-select: none;
  -webkit-user-select: none;
  color: white;
  height: 100vh;
  overflow: hidden;
  transition: background-image 2s ease; 
  z-index: 0;
}

/* מסך שחור של מעבר */
.black {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 3;
}

/* i כפתור עזרה */
.help {
  position: absolute;
  width: 4vw;
  height: 9vh;
  top: 2.8%;
  right: 1.5%;
  z-index: 1;
  cursor: pointer;
  filter:  brightness(0) invert(1);
}

/* קונטיינר מסך העזרה */
.snake-explanation {
  position: absolute;
  font-size: 5vh;
  padding: 3%;
  background-color: white;
  border-radius: 11vh;
  color: #5289C7;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 76%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

/* כפתור האיקס */
.exit {
  position: absolute;
  left: 4.3%;
  top: 8%;
  height: 8%;
  width: 8%;
  cursor: pointer;
}

.exit:hover {
  transform: scale(1.2);
}

/* מלל העזרה */
.help-explanation-text {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 7.5vh;
  height: 40%;
  font-size: min(6vmin, 2.5vmax);
  font-weight: 450;
  margin: 0%;
  width: 84%;
  margin-left: 0;
  margin-right: 6%;
  top: 12%;
}

.help-inside-text {
  font-size: min(4vmin, 2vmax);
  line-height: 8vh;
  padding-right: 6%;
}

.next-button {
  position: relative;
  margin-top: 2%;
  right: 39.5%;
  width: 21%;
  height: 8%;
  font-size: 4vh;
}
  
.game-stage {
  position: absolute;
  display: none;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(9, 1fr);
  height: 86.2%;
  width: 100%;
  bottom: 0%;
  z-index: 0;
}
  
.bar-game {
  position: absolute;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 94%;
  height: 13.8%;
  left: 0;
}

.score-container {
  display: none;
  width: 14%;
  padding: 1.7%;
}

.score,
.points {
  position: relative;
  font-size: 5vh;
  margin: 4%;
}
  
.hearts-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0.5%;
  width: 20%;
}

.heart {
  position: relative;
  width: 25%;
  height: 67%;
  margin: 1.5%;
  top: 10%;
}

.level {
  font-size: 7vh;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 1.4%;
}

.snake {
  width: 10%;
  height: 38%;
}

.lose-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 5vh;
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 29%;
  top: 50%;
  left: 50%;
  border-radius: 8vh;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.square {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.win-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Assistant";
  text-align: center;
  font-size: 6vh;
  background-color: #ffffff;
  height: 50%;
  width: 28%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8vh;
  z-index: 2;
}

.button-next {
  position: relative;
  width: 48%;
  height: 20%;
  top: -6%;
  cursor: pointer;
}

.button-next-level {
  position: relative;
  width: 48%;
  height: 20%;
  top: -6%;
  cursor: pointer;
}

.button-next-level:hover {
  transform: scale(1.03);
}

.text-win-title {
  position: relative;
  font-weight: 550;
  font-size: 7vh;
  color: #FBB040;
  margin: 0;
  top: 10%;
}

.text-win {
  position: relative;
  font-weight: 550;
  font-size: 5vh;
  color: #5289C7;
  padding: 10%;
  margin: 0;
}

.home-page-button-design {
  position: relative;
  height: 15vh;
  width: 30vw;
  background-color: rgb(153, 177, 255);
  font-size: 5.5vh;
  bottom: 10vh;
}

.end-complete-sentences {
  position: relative;
  bottom: 10vh;
  font-size: 12vh;
}

.player {
  z-index: 0;
  position: relative;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url(../assets/images/soldier1.svg);
  background-position-x: center;
}

.right {
  transform: scaleX(-1);
}

.bus {
  position: relative;
  align-content: flex-start;
  padding: 2%;
  font-size: 2.3vh;
  color: #BE1E2D;
  background-image: url(../assets/images/snakebus.svg);
  background-repeat: no-repeat;
}

.button-try-again {
  position: relative;
  width: 48%;
  height: 20%;
  top: -1%;
  cursor: pointer;
}

.button-try-again:hover {
  transform: scale(1.03);
}

.title-lose {
  position: relative;
  font-weight: 550;
  font-size: 5vh;
  color: #5289C7;
  padding:  0% 10% 0% 10%;
}

.got-into-itself {
  font-size: 5vh;
  color: #5289C7;
  font-weight: 550;
}

.darked {
  position: relative;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #80828580;
  z-index: 1;
}

.reverse {
  transform: rotateY(180deg);
}