.btn-again {
    position: absolute;
    top: 70vh;
    right: 45vw;
}

.btn-back {
    position: absolute;
    top: 85vh;
    right: 45vw;
}

.img-hand-washing {
    position: absolute;
    top: 55vh;
    left: 3vw;
    width: 20vw;
}