* {
    font-family: segoe ui, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    padding: 0px;
    margin: 0px;
    background-size: 100vw 100vh;
    background: rgb(165, 213, 254);
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.btn-help {
    border: none;
    border-radius: 35px;
    position: absolute;
    top: 2vh;
    left: 2vw;
    font-size: 3vh;
    width: 1.8vw;
    background-color: rgba(86, 136, 184, 0.8);

    transition: all 0.4s ease 0s;
}

.btn-help:hover {
    width: 2.5vw;
    height: 5vh;
    font-size: 4vh;
    background-color: rgba(37, 73, 105, 0.8);

    transition: all 0.4s ease 0s;
}

.btn-check {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(86, 136, 184, 0.8);
    padding: 20px;
    border-radius: 20px 3px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    width: fit-content;
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
}

.btn-check:hover {
    background: rgba(37, 73, 105, 0.8);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.div-explination {
    border-radius: 30px;
    position: absolute;
    margin-right: 15vw;
    margin-left: 15vw;
    background-color: rgba(214, 235, 245, 0.9);
    text-align: center;
    z-index: 1;

    /* color: rgba(212, 71, 94, 0.9); */
}

.btn-close {
    margin: 2vh 2vw;
    width: fit-content;
    font-size: 3vh;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(72, 132, 156, 0.8);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.btn-close:hover {
    background: rgba(29, 57, 70, 0.8);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}