* {
    direction: rtl;
}

.title {
    position: absolute;
    top: 3vh;
    right: 30vw;
    font-size: 8vh;
    text-align: center;
    font-weight: bold;
}

.btn-check {
    position: absolute;
    top: 89vh;
    left: 2vw;
}

.container {
    display: flex;
    position: absolute;
    top: 10vh;
}

.div-do,
.div-dont {
    margin-right: 5vw;
    margin-left: 5vw;
    background-color: rgba(86, 136, 184, 0.6);
    width: 40vw;
    height: 45vh;
    border-radius: 15px;
    text-align: center;
    font-size: 5vh;
}

.p-do,
.p-dont {
    text-align: center;
    margin: 2vh 2vw;
}

.div-bank {
    position: absolute;
    top: 60vh;
    margin-right: 5vw;
    margin-left: 5vw;
    background-color: rgba(86, 136, 184, 0.6);
    width: 90vw;
    height: 25vh;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.div-dragable {
    width: 20vh;
    min-height: 5vh;
    height: fit-content;
    background-color: rgba(65, 112, 155, 0.8);
    margin: 2vh 1vw;
    border-radius: 15px;
    font-size: 2.5vh;
    text-align: center;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.div-dragable:hover {
    cursor: pointer;
}

.table-do,
.table-dont {
    width: 100%;
    height: 10vh;
}


.li-do,
.li-dont {
    width: 95%;
    text-align: center;
    font-size: 2vh;
    visibility: hidden;
    border-radius: 10px;
    font-size: 2.3vh;
    margin-bottom: 0.2vh;
    list-style-type: none;
}

.li-do:hover,
.li-dont:hover {
    cursor: pointer;
}

.div-explination {
    top: 20vh;
}

.p-help-title {
    font-size: 5vh;
}

.p-help-text {
    font-size: 3vh;
    padding: 3vh 3vw;
}

.div-end {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255, 0.00001);
    z-index: 2;
    visibility: hidden;
}