@font-face {
    font-family: Noot;
    src: url("assets/fonts/Noot_April13/Web Font/noot-aj.ttf"), url("assets/fonts/Noot_April13/Web Font/noot-aj.eot");
}
  
.body {
    background: rgb(51,63,64);
    background: linear-gradient(270deg, #627bce 0%, #20327b 100%);
    margin: 0 auto;
    font-family: "Assistant";
    direction: rtl;
    user-select: none;
    color: #d1fbff;
    overflow: hidden;
}

.help-explanation {
    position: absolute;
    display: none;
    font-size: 5vh;
    text-align: center;
    background-color: #728de7;
    border-radius: 20px;
    z-index: 1;
    left: 50vh;
    width: 50vw;
    height: 59vh;
}

.exit {
    position: absolute;
    display: none;
    z-index: 2;
    left: 71vw;
    top: 30vh;
    height: 5vh;
    width: 3vw;
    filter: invert(100%);
}
  
.exit:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.opacity-background {
    position: absolute;
    display: none;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
}

.help-explanation-text {
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%; 
}  

.menu-button {
    position: absolute;
    width: 10vw;
    height: 6vh; 
    top: 3vh;
    right: 3vh;
    font-size: 2.5vh;
}

.button {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 3px rgba(44, 41, 41, 0.979);
    cursor: pointer;
}

.button:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    color: #333F40;
    background: rgb(123,173,177);
    background: linear-gradient(0deg, #7792ec 0%, rgba(166, 155, 255, 0.4) 100%);
    transition: all 0.5s ease 0s;
}

.exercises-title {
    text-align: center;
    margin-top: 5%;
    font-size: 9vh;
}
  
.check-button {
    position: relative;
    margin-top: 2%;
    right: 42.5%;
    width: 15%;
    height: 90%;
    font-size: 4vh;
}
.question-conatiner {
    text-align: center;
    font-size: 5vh;
    margin-bottom: 1%;
}
  
.sentences-ans-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 36vh;
    left: 10vw;
    font-size: 4vh;
    box-shadow: 10px 10px 10px 3px rgba(44, 41, 41, 0.6);
    width: 80vw;
    border-bottom-right-radius: 3em;
    border-top-left-radius: 3em;
    height: 58%;
    background-color: rgba(255, 255, 255, 0.1);
}
  
.sentences {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    width: 80%;
}

.missing-word {
    width: 10%;
    height: 100%;
    border-radius: 10px;
    background-color: #2c375f;
    box-shadow: 0px 0px 14px 1px#403b84;
    display: flex;
    justify-content: center;
    align-items: center;
}

.missing-word .missing-word-design{
    background-color: transparent;
    box-shadow: none;
    font-size: 5.5vh;
}
  
.last-sentence,
.first-sentence {
    width: fit-content;
}
  
.inside-sentence {
    height: fit-content;
    padding: 1%;
    font-size: 5.5vh;
    margin: 0.5%;
}
  
.word-bank-container {
    position: relative;
    display: flex;
    top: 9vh;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 20%;
    border-radius: 10px;
    background-color: #37488a;
}

.word-bank-title {
    font-size: 3vh;
}

.missing-word-design {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a90dd;
    box-shadow: 11px 7px 20px 1px #41434fa8;
    width: 10%;
    border-radius: 10px;
    height: 5vh;
    text-align: center;
    font-size: 3.5vh;
    cursor: pointer;
}
  
.missing-word-design:hover {
    box-shadow: 0px 0px 0px 0px;
    transform: scale(1.1);
}
  
.end-complete-sentences {
    font-size: 8vh;
}
  
.tryAgain-button-place {
    position: static;
    height: 11vh;
    width: 22%;
    background-color: rgb(153, 177, 255);
}
  
.help {
    position: absolute;
    display: flex;
    font-size: 2.5vh;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
    background-color: #d1fbff;
    color: black;
    height: 7%;
    width: 4%;
    top: 2%;
    left: 2%;
    box-shadow: 10px 10px 20px rgba(71, 71, 71, 0.486);
  }

 