@font-face {
  font-family: Noot;
  src: url("assets/fonts/Noot_April13/Web Font/noot-aj.ttf"), url("assets/fonts/Noot_April13/Web Font/noot-aj.eot");
}

.body {
  /* one color background */
  background-color: rgb(226, 243, 255);
  /* image for background */
  /* background-image: url("");
        background-size: 100vw 100vh;
        margin: 0 auto; */
  /* font-family: "Rubik"; */
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  user-select: none;
}

/* first page */

  .title-first-page {
  text-align: center;
  margin-top: 7%;
  font-size: 12vh;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(55, 55, 88);
  color: white;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  background-color: rgb(101, 101, 155);
}

.about {
  position: absolute;
  width: 8%;
  height: 7%;
  right: 3%;
  top: 5%;
  font-size: 3.5vh;
}

.buttons-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  height: 10vh;
}

.start-practice {
  width: 23%;
  height: 90%;
  font-size: 4vh;
}

.explanation {
  background-color: rgba(65, 65, 112, 0.726);
  width: 50%;
  height: 50%;
  right: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 3vh;
  border-radius: 30px;
}

.list {
  list-style-type: circle;
}

/* general to all the exercises */

.exercises-title {
  text-align: center;
  margin-top: 5%;
  font-size: 9vh;
}

.check-button {
  position: relative;
  margin-top: 2%;
  right: 42.5%;
  width: 15%;
  height: 90%;
  font-size: 4vh;
}

/* complete sentences game*/

.sentences-ans-conatisner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 10vw;
  width: 80vw;
  background-color: rgba(65, 65, 112, 0.726);
  height: 58%;
}

.sentences {
  display: flex;
  justify-content: center;
  margin: 2%;
  width: 80%;
}

.missing-word {
  display: inline-block;
  width: 10%;
  height: 100%;
  background-color: rgb(229, 205, 252);
}

.last-sentence,
.first-sentence {
  width: fit-content;
}

.inside-sentence {
  margin: 1%;
  font-size: 3.5vh;
}

.word-bank-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 20%;
  background-color: rgb(229, 205, 252);
}

.missing-word-design {
  position: relative;
  background-color: rgba(148, 112, 182, 0.575);
  width: 10%;
  height: fit-content;
  text-align: center;
  font-size: 2.5vh;
  cursor: pointer;
}

/* multiple Choice test*/

.question-conatiner {
  text-align: center;
  font-size: 5vh;
}

.ans-conatisner {
  position: absolute;
  display: flex;
  left: 10vw;
  width: 80vw;
  background-color: rgba(65, 65, 112, 0.726);
  height: 50%;
}

.ans {
  position: absolute;
  display: flex;
}

.ans:hover {
  background-color: rgb(186, 186, 248);
}

/* drag game*/

#sortable {
  position: relative;
  right: 23%;
  margin: 3%;
  padding: 0;
  width: 45%;
}

#sortable li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 3vh;
  height: 21%;
}

.ans-conatisner-drag-game {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(115, 115, 179);
  width: 50%;
  right: 26%;
  height: 53vh;
}

.list-drag {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
}

.list-drag:hover {
  background-color: rgb(186, 186, 248);
}

.feedback-drag-game {
  position: absolute;
  background-color: rgb(227, 200, 250);
  width: 20%;
  height: 53%;
  top: 32%;
  left: 2%;
}

/* snake game */

.snake-explanation {
  position: absolute;
  background-color: rgb(135, 241, 197);
  opacity: 0.7;
  height: 69vh;
  width: 70vw;
  top: 14vh;
  left: 15vw;
}

.instructions-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7%;
  font-size: 2vh;
}

.next-button {
  position: relative;
  margin-top: 2%;
  right: 39.5%;
  width: 21%;
  height: 8%;
  font-size: 4vh;
}

.game-stage {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  
  background-color: rgb(59, 149, 112);
  height: 70%;
  width: 40%;
  top: 27vh;
  left: 30vw;
}

.bar-game {
  font-family: 'Noot';
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 40vw;
  height: 8vh;
  top: 19vh;
  left: 30vw;
}

.score,
.points {
  font-size: 3vh;
  position: relative;
  top: 10%;
}

.hearts-container {
  display: flex;
  position: relative;
  margin: 0.5%;
  left: 1%;
}

.heart {
  position: relative;
  width: 3vw;
  height: 6vh;
  margin: 1.5%;
  top: 10%;
}

.level {
  font-size: 4vh;
  position: relative;
  bottom: 15%;
  left: 6%;
}

.points {
  left: 13%;
  top: 48%;
}

.snake {
  width: 10%;
  height: 38%;
}

.button-try-again {
  height: 20%;
  width: 30%;
  background-color: rgb(127, 194, 136);
}

.button-try-again:hover {
  background-color: rgb(199, 238, 204);
}
.lose-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Noot;
  font-size: 3vh;
  background-color: gray;
  height: 70%;
  width: 40%;
  top: 27vh;
  left: 30vw;
}

.square {
  display: flex;
  flex-wrap: wrap;
}